# OSX
.DS_Store
._*

# Windows
Thumbs.db

# Vim
*~
*.un~
*.swp
*.swo
*.swn
*.swl
*.swm
.sw*
Session.vim
.netrwhist

# Current Project
*.iml
*.log
*.log.2017*
npm-debug.log*
output
output-json
node_modules
json/*.json
sourceData/*.json
sourceData/*.csv
dataRefs/*.json
dataRefs/*.csv
objectWorkers/**
!objectWorkers/sample_worker.js
package-lock.json